@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.button-primary {
  background: linear-gradient(
      180deg,
      rgba(0, 172, 193, 0) 0%,
      rgba(0, 172, 193, 0.32) 100%
    ),
    rgba(0, 191, 255, 0.12);
  box-shadow: inset 0 0 12px rgba(0, 191, 255, 0.24);
  width: max-content;
  border-radius: 28px;
}

.button-primary:hover {
  background: linear-gradient(
      180deg,
      rgba(0, 172, 193, 0) 0%,
      rgba(0, 172, 193, 0.42) 100%
    ),
    rgba(0, 191, 255, 0.24);
  box-shadow: inset 0 0 12px rgba(0, 191, 255, 0.48);
}

/* Make sure the container allows scrolling and fits the viewport */
.image-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto; /* Allow scrolling */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* Optional: Set a background color */
}

.image-container img {
  display: block;
  max-width: none; /* Allow image to exceed container size */
  max-height: none; /* Allow image to exceed container size */
  position: relative; /* To keep positioning of child elements */
}

/* Ensure interactive areas are correctly sized and positioned */
.interactive-area {
  position: absolute;
  /* Additional styles as needed for visibility */
}

.cursive {
  font-family: "Cedarville Cursive", cursive;
}
.Welcome-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.button-primary {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.32) 100%
    ),
    rgba(113, 47, 255, 0.12);
  box-shadow: inset 0 0 12px #bf97ff3d;
  width: max-content;
  border-radius: 28px;
}
.button-primary:hover {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.42) 100%
    ),
    rgba(113, 47, 255, 0.24);
  box-shadow: inset 0 0 12px #bf97ff70;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}



